<h1><%= t :project1 %></h1>
<% if logged_in? %>
  <div class="row">
    <%= render "users/user_info", user: current_user %>
    <div class="col-md-8">
      <% if @feed_items.any? %>
        <ul class="activities">
          <%= render @feed_items %>
        </ul>
        <%= will_paginate @feed_items %>
      <% end %>
    </div>
  </div>
<% end %>
