<% provide :title, t(:show_word) %>
<div class="word">
  <h4><b><%= t :category %>: <%= @word.category.title %></b></h4>
  <h1><%= @word.content %></h1>
  <div class="answers_field">
    <ul>
      <%= render @word.word_answers %>
    </ul>
  </div>
</div>
