<tr>
  <td><%= word.content %></td>
  <td><%= link_to word.category.title, word.category %></td>
  <td><%= word.created_at.strftime t(:time_type) %></td>
  <td><%= word.updated_at.strftime t(:time_type) %></td>
</tr>
